apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
        - name: service-a
          image: mennidiskind/ipcoords-service-a:1.0
          ports:
            - containerPort: 8000
          env:
            - name: REDIS_HOST
              value: "redis"
            - name: REDIS_PORT
              value: "6379"
            # חשוב: כדי ש-Service A ידבר עם Service B בתוך הקלאסטר (לא localhost)
            - name: SERVICE_B_URL
              value: "http://service-b:8000"

---
apiVersion: v1
kind: Service
metadata:
  name: service-a
spec:
  selector:
    app: service-a
  ports:
    - name: http
      port: 8000
      targetPort: 8000

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: service-a
spec:
  to:
    kind: Service
    name: service-a
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
